.sub-heading {
  margin-top: 2em;
  font-size: 4rem;

  text-align: center;
  color: var(--primary-color);
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-container {
  width: min(90%, 600px);
  display: block;
  margin: auto;
}
.dropdown-toggle {
  width: 100%;
  font-size: 1.5rem;
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
  transition: all 250ms ease-in;
}
.dropdown-toggle:hover,
.dropdown-toggle:focus {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.dropdown-menu {
  font-size: 1.5rem;
  background-color: #315263;
  border: solid 1px var(--secondary-color);
}

.dropdown-menu li a {
  letter-spacing: 0.1em;
  color: var(--third-color);
  transition: all 200ms ease-in;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
  background-color: #315263;
  color: var(--primary-color);
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}
.loading span {
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  margin: 1em;
  animation: loading 2s linear infinite;
}

.loading span:nth-child(2) {
  animation-delay: 0.4s;
}
.loading span:nth-child(3) {
  animation-delay: 0.8s;
}
@keyframes loading {
  30% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
}
#about-category {
  display: block;
  margin: 2% auto;
  border: solid 1px var(--primary-color);
  border-radius: 2%;
  width: min(90%, 800px);
}

.about-heading,
.hobby-heading,
.stack-heading {
  font-size: 2.8rem !important;
  animation: flyIn 3s ease-in;
  text-align: center;
  font-family: var(--secondary-font);
  letter-spacing: 0.1em;
  padding: 1em 0 0.3em;
}
.journey-paragraph,
.hobby-list {
  font-size: 1.5rem;
  line-height: 1.6em;
  margin: 1em;
  animation: flyIn 3s ease-in;
}
.journey-paragraph a {
  color: var(--primary-color);
  transition: all 250ms ease-in-out;
}
.journey-paragraph a:hover,
.journey-paragraph a:focus {
  color: rgb(130, 188, 255);
}

.stack-container {
  display: grid;
  gap: 1em;
  text-align: center;
  margin: 2em;
}
.stack-icon {
  font-size: 2.5rem;
  color: var(--primary-color);
  padding: 0.1em;
  animation: flyIn 3s ease-in;
}
@media (min-width: 60em) {
  .stack-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
