.dropdown-container {
  width: min(90%, 600px);
  display: block;
  margin: auto;
}
.dropdown-toggle {
  width: 100%;
  font-size: var(--fs-xs);
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
  transition: all 250ms ease-in;
}
.dropdown-toggle:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.dropdown-menu {
  background-color: #315263;
  border: solid 1px var(--secondary-color);
}

.dropdown-menu li a {
  font-size: var(--fs-xs);
  letter-spacing: 0.1em;
  color: var(--third-color);
  transition: all 200ms ease-in;
}
.dropdown-menu li a:hover {
  background-color: #315263;
  color: var(--primary-color);
}
.loading {
  text-align: center;
  margin: 0 auto;
}
.loading span {
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  margin: 15% 2% 15% 2%;
  animation: loading 2s linear infinite;
}

.loading span:nth-child(2) {
  animation-delay: 0.4s;
}
.loading span:nth-child(3) {
  animation-delay: 0.8s;
}
@keyframes loading {
  30% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
}
#about-category {
  display: block;
  margin: 2% auto;
  border: solid 1px var(--primary-color);
  border-radius: 2%;
  width: min(90%, 800px);
}

.about-heading {
  font-family: var(--secondary-font);
  letter-spacing: 0.1em;
  font-size: var(--fs-m);
  text-align: center;
  padding: 0.6em 0 0.3em 0;
  animation: flyIn 3s ease-in;
}

.journey-paragraph {
  margin: 1em;
  font-size: var(--fs-s);
  animation: flyIn 3s ease-in;
}
.hobby-heading {
  font-size: var(--fs-s);
  padding-top: 2em;
  margin: 1em;
  animation: flyIn 3s ease-in;
}
.hobby-list {
  font-size: var(--fs-s);
  margin: 1em;
  animation: flyIn 3s ease-in;
}
.hobby-paragraph {
  margin-top: -4%;
}
.stack-container {
  display: grid;
  gap: 1em;
  text-align: center;
  margin: 1%;
}
.stack-icon {
  color: var(--primary-color);
  font-size: var(--fs-m);
  padding: 0.1em;
  animation: flyIn 3s ease-in;
}
@media (min-width: 60em) {
  .stack-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
