/* layout */
.contact-form {
  display: block;
  margin: 2em auto;
  width: min(90%, 800px);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 2%;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  padding: 3%;
  box-shadow: 5px 5px 5px #20353f;
}
.form-button {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: 5px 5px 5px #20353f;
  padding: 2%;
  margin: 3.5% auto;
  font-size: 100%;
  letter-spacing: 0.1em;
  display: block;
  width: 90%;
  transition: all 250ms ease-in;
}

.form-button:hover,
.form-button:focus {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: inset 5px 5px 5px #20353f;
  border: none;
}
