/* general */

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
img {
  max-width: 100%;
}

:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(27, 45, 54);
  --third-color: #c6cfd3;
  --third-color-opacity: rgba(153, 185, 201, 0.151);
  --primary-font: "Amatic SC", cursive;
  --secondary-font: "Sue Ellen Francisco", cursive;
  --background-color: #315263;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
}
/* headings */
.home-headings-container {
  margin: 0 0.5em;
}
.home-heading {
  font-size: 2rem;
  text-align: center;
  margin: 0.3em 0 0.5em;
  line-height: 1.5em;
  font-family: var(--secondary-font);
  letter-spacing: 0.2em;
  color: var(--primary-color);
  animation: flyIn 3s ease-in;
}
@keyframes flyIn {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
h2 {
  color: var(--primary-color);
  padding-top: 0.1em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.5rem;
  animation: flyIn 3s ease-in;
}

/* navbar */
.navbar-brand,
.nav-link {
  font-size: 1.2rem !important;
}
.navigation {
  font-size: 1rem;
  background: rgba(49, 82, 99, 0.4) !important;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.navigation-secondary {
  background: var(--third-color-opacity) !important;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.navbar-collapse {
  flex-grow: 0 !important;
}
.active-link {
  text-decoration: underline;
  text-underline-offset: 16px;
  color: var(--primary-color);
}
@media (min-width: 992px) {
  .underline-animation {
    color: var(--primary-color);
    position: relative;
  }

  .underline-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
  .underline-animation:hover::after,
  .underline-animation:focus::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}
/* layout */
.home-image {
  background: url(/images/fairy.jpg);
  position: relative;
  height: 30vh;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-gradient {
  background: #315263;
  background: linear-gradient(
    to top,
    #315263 6%,
    #3152634d 40%,
    #31526300 100%
  );
  width: 100%;
  height: 31vh;
  position: absolute;
  z-index: 3;
}

.home-main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1em 7em;
}
.home-main-content a,
.home-main-content a {
  font-family: var(--secondary-font);
  letter-spacing: 0.2em;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary-color);
}

.home-main-content {
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 1em;
  padding: 1em 0;
}

/* footer */
.icon-container {
  justify-content: center;
}

.social-icon i {
  font-size: 1.5rem;
  margin: 1em;
  padding: 0.2em;
  position: relative;
  z-index: 5;
  color: var(--primary-color);
  background-color: var(--third-color-opacity);
  border-radius: 50%;
  transition: all 250ms ease-in;
}

.social-icon i:hover,
.social-icon i:focus {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.source-code-container {
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  color: var(--third-color);
  text-align: center;
  font-weight: 300;
  padding: 1%;
}
.source-code-container a {
  text-decoration: none;
  color: var(--third-color);
  transition: all 200ms ease-in-out;
}
.source-code-container a:hover,
.source-code-container a:focus {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* media queries */

@media (min-width: 400px) {
  html {
    font-size: 20px;
  }
  .home-heading {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .home-main-content a {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .home-image {
    min-height: 50vh;
  }
  .background-gradient {
    min-height: 51vh;
  }
}
@media (min-width: 1300px) {
  html {
    font-size: 22px;
  }
  .home-heading {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
}
