/* general */

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}
strong {
  font-weight: 900;
}
:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #1b2d36;
  --third-color: #748a96;
  --third-color-opacity: rgba(153, 185, 201, 0.151);
  --primary-font: "Amatic SC", cursive;
  --secondary-font: "Sue Ellen Francisco", cursive;
  --background-color: #315263;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
}
/* headings */
.home-headings-container {
  display: flex;
  flex-direction: column;
  margin: -5em 1em 2em;
  text-align: left;
}
.home-heading {
  margin: 0 auto;
  font-weight: 300;
  font-size: 2rem;
  z-index: 2;
  line-height: 1.5em;
  font-family: var(--secondary-font);
  letter-spacing: 0.2em;
  color: var(--primary-color);
  position: relative;
  animation: flyIn 3s ease-in;
  text-shadow: inset 30px 30px 5px #1b2d36;
}
.home-headings-container span {
  font-size: 1.5rem;
  font-family: var(--primary-font);
  letter-spacing: 0.5em;
  color: var(--primary-color);
  animation: flyIn 3s ease-in;
  margin: 1em auto;
  opacity: 0.8;
}
.home-main-content-header-primary {
  z-index: 2;
  font-weight: 700;
  font-size: 2rem;
  animation: flyIn 3s ease-in;
  text-align: center;
}

.home-main-content-header-secondary {
  font-family: var(--secondary-font);
  font-size: 2rem;
  position: relative;
  display: block;
  margin: 0 0 1em;
  text-align: center;
  color: var(--primary-color);
  animation: flyIn 3s ease-in;
}
/* navbar */
.navbar-brand,
.nav-link {
  font-size: 1.2rem !important;
}
.navigation {
  font-size: 1rem;
  background: rgba(49, 82, 99, 0.4) !important;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.navigation-secondary {
  background: var(--third-color-opacity) !important;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.navbar-collapse {
  flex-grow: 0 !important;
}
.active-link {
  text-decoration: underline;
  text-underline-offset: 16px;
  color: var(--primary-color);
}
@media (min-width: 992px) {
  .underline-animation {
    color: var(--primary-color);
    position: relative;
  }

  .underline-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
  .underline-animation:hover::after,
  .underline-animation:focus::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}
/* layout */
/* .avatar {
  max-width: 50vh;
  border-radius: 5px;
  margin: 0 auto;
} */
.home-main {
  background: var(--primary-color);
  color: var(--primary-color);
  padding: 3em 0;
  background: #3c6174;
  /* background: linear-gradient(
    180deg,
    rgba(49, 82, 99, 0) 0%,
    rgba(255, 255, 255) 2%,
    rgba(255, 255, 255) 98%,
    rgba(49, 82, 99, 0) 100%
  ); */
}

.home-image {
  background: linear-gradient(to top, #315263 6%, #3152634d 40%, #31526300 100%),
    url(/images/fairy.jpg);

  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10em;
}

.home-main-content {
  color: var(--primary-color);

  margin: 2em auto;
  width: min(95%, 0.5fr);
  background: radial-gradient(
      circle,
      rgba(49, 82, 99, 0) 29%,
      rgba(49, 82, 99, 1) 87%
    ),
    url(/images/starBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4em 2em;
  border-radius: 5px;
  box-shadow: inset 5px 5px 5px #1b2d36;
  width: min(90%, 75vw);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1em;
  justify-content: center;
  align-items: center;
  animation: flyIn 3s ease-in;
}

.grid img {
  height: 15vh;
  width: 30vw;
  object-fit: cover;
  object-position: top;
  background: var(--primary-color);
  padding: 0.1em;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1b2d36;
  animation: flyIn 3s ease-in;
  overflow: hidden;
  opacity: 0.8;
  transition: transform 200ms ease-in-out;
}
.grid img:hover,
.grid img:focus {
  transform: scale(1.5);
  opacity: 1;
  z-index: 1;

  cursor: pointer;
}

@media (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid img {
    height: 30vh;
  }
}

/* footer */
.icon-container {
  justify-content: center;
  margin: 2em;
}

.social-icon i {
  font-size: 1.5rem;
  margin: 1em;
  padding: 0.2em;
  position: relative;
  z-index: 5;
  color: var(--primary-color);
  background-color: var(--third-color-opacity);
  border-radius: 50%;
  transition: all 250ms ease-in;
}

.social-icon i:hover,
.social-icon i:focus {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.source-code-container {
  margin-bottom: 1em;
  letter-spacing: 0.1em;
  font-size: 1.3rem;
  color: var(--third-color);
  text-align: center;
  font-weight: 300;
  padding: 1%;
}
.source-code-container a {
  text-decoration: none;
  color: var(--third-color);
  transition: all 200ms ease-in-out;
}
.source-code-container a:hover,
.source-code-container a:focus {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* media queries */

@media (min-width: 400px) {
  html {
    font-size: 20px;
  }
  .home-heading {
    font-size: 3rem;
  }

  .home-main-content a {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 1300px) {
  html {
    font-size: 26px;
  }
  .home-heading {
    font-size: 5rem;
  }
}
/* animation */
@keyframes flyIn {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
