/* general */

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}
strong {
  font-weight: 900;
}
body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
  color: var(--primary-color);
}
:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #1b2d36;
  --third-color: #748a96;
  --third-color-opacity: rgba(255, 255, 255, 0.438);
  --primary-font: "Amatic SC", cursive;
  --secondary-font: "Sue Ellen Francisco", cursive;
  --background-color: #315263;
}

/* navbar */
.navbar-brand,
.nav-link {
  font-size: 1.2rem !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

.navbar-brand:focus,
.navbar-brand:hover,
.nav-link:focus,
.nav-link:hover {
  color: var(--primary-color) !important;
}
.navigation {
  font-size: 1rem;
  background: rgba(49, 82, 99, 0.4) !important;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.navigation-secondary {
  background: #6698ae65 !important;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.navbar-collapse {
  flex-grow: 0 !important;
}
.active-link {
  text-decoration: underline;
  text-underline-offset: 22px;
  color: var(--primary-color);
}

.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.underline-animation:hover::after,
.underline-animation:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* home headings */
.home-heading,
.home-headings-container span,
.home-main-content-header-primary,
.home-main-content-header-secondary {
  text-shadow: 0 0 2px #1b2d36;
  animation: flyIn 3s ease-in;
  text-align: center;
}

.home-headings-container {
  display: flex;
  flex-direction: column;
  margin: -5em 1em 2em;
  text-align: center;
}
.home-heading {
  margin: 0 auto;
  font-size: 2rem;
  z-index: 2;
  line-height: 1.5em;
  font-family: var(--secondary-font);
  letter-spacing: 0.15em;
}
.home-headings-container span {
  font-size: 1.2rem;
  letter-spacing: 0.5em;
  padding: 1em 0;
  opacity: 0.7;
}
.home-main-content-header-primary {
  z-index: 2;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  opacity: 0.9;
  margin-bottom: 0;
}

/* home layout */
.home-main {
  background: var(--primary-color);
  padding: 2em 0;
  background: #3c617498;
}

.home-image {
  background: linear-gradient(to top, #315263 6%, #3152634d 40%, #31526300 100%),
    url(/images/fairy.jpg);

  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10em;
}

.home-main-content {
  display: flex;
  flex-direction: column;

  margin: 2em auto;
  width: min(98%, 0.5fr);
  background: radial-gradient(
      circle,
      rgba(49, 82, 99, 0) 29%,
      rgba(49, 82, 99, 1) 87%
    ),
    url(/images/starBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 5px;
  box-shadow: inset 5px 5px 5px #1b2d36;
  width: min(90%, 1000px);
}

.home-main-content-certificate-slider {
  margin: 3em auto;
  padding: 5em 7em;
  outline: solid var(--primary-color) 1px;
  outline-offset: 5px;
  background-image: url(/images/sheCodesBasics.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slider 15s infinite alternate ease-in-out;
  box-shadow: 5px 5px 5px #20353f;
}

@keyframes slider {
  0% {
    background-image: url(/images/sheCodesBasics.png);
    background-size: cover;
  }
  25% {
    background-image: url(/images/sheCodesPro.png);
    background-size: cover;
  }
  50% {
    background-image: url(/images/sheCodesResponsive.png);
    background-size: cover;
  }
  75% {
    background-image: url(/images/sheCodesReact.png);
    background-size: cover;
  }
  100% {
    background-image: url(/images/sheCodesBasics.png);
    background-size: cover;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1em;
  justify-content: center;
  align-items: center;

  padding: 3em;
}

.grid img {
  height: 15vh;
  width: 30vw;
  outline: solid var(--primary-color) 1px;
  outline-offset: 5px;
  object-fit: cover;
  object-position: top;
  background: var(--primary-color);
  padding: 0.1em;
  box-shadow: 5px 5px 10px #1b2d36;
  overflow: hidden;
  opacity: 0.8;
  transition: transform 200ms ease-in-out;
}
.grid img:hover,
.grid img:focus {
  transform: scale(1.1);
  opacity: 1;
  z-index: 1;

  cursor: pointer;
}

/* footer */
.icon-container {
  justify-content: center;
  margin: 2em 0 0.5em;
}

.social-icon i {
  font-size: 1.5rem;
  margin: 1em;
  padding: 0.2em;
  position: relative;
  z-index: 5;
  color: var(--primary-color);
  background-color: rgba(153, 185, 201, 0.151);
  border-radius: 50%;
  transition: all 250ms ease-in;
}

.social-icon i:hover,
.social-icon i:focus {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.source-code-container {
  margin-bottom: 1em;
  letter-spacing: 0.1em;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.438);
  text-align: center;
  font-weight: 300;
}
.source-code-container a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.438);
  transition: all 200ms ease-in-out;
}
.source-code-container a:hover,
.source-code-container a:focus {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* media queries */

@media (min-width: 400px) {
  html {
    font-size: 20px;
  }
  .home-heading {
    font-size: 3rem;
  }
  .home-headings-container span {
    font-size: 1.5rem;
  }
  .home-main-content-header-primary {
    padding: 0.5em 0;
    font-size: 2.1rem;
  }
}
@media (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid img {
    height: 30vh;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 22px;
  }
  .home-headings-container span {
    font-size: 2rem;
  }
}
@media (min-width: 1300px) {
  html {
    font-size: 26px;
  }
  .home-heading {
    font-size: 5rem;
  }
}
@media (min-width: 992px) {
  .underline-animation {
    color: var(--primary-color);
    position: relative;
  }
}
/* animation for text*/
@keyframes flyIn {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
