.project-grid {
  display: grid;
  gap: 1.5em;
  margin: 0 auto;
  width: min(90%, 900px);
}
@media (min-width: 60em) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.project-screenshots {
  margin-top: 1.9em;
}

.card-container {
  display: flex;
  position: relative;
  height: 66vh;
  margin: 1em;
}
.card-container img {
  height: 100%;
  border-radius: 2%;
  border: solid 1px var(--primary-color);
}
.project-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease;
}
.project-card:hover {
  transform: rotateY(180deg);
}
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 3%;
}
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: var(--third-color);
  border-radius: 3%;
  transform: rotateY(180deg);
  text-align: center;
}
.card-back h4 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8%;
  padding-top: 2%;
  margin: 5%;
  font-size: var(--fs-m);
  color: var(--primary-color);
}
.card-back p {
  margin: 5%;
  padding: 3%;
  font-size: var(--fs-xs);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5%;
}

.project-icon {
  justify-items: center;
  padding: 5%;
  font-size: var(--fs-s);
  color: var(--primary-color);
}
.project-button {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 4%;
  margin: 7% auto;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  display: block;
  width: 80%;
  transition: all 250ms ease-in;
}
.project-button:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
