/* layout */

.project-grid {
  display: grid;
  gap: 1.5em;
  margin: 2em auto 0;
  width: min(100%, 400px);
}

/* project cards */
.card-container {
  display: flex;
  position: relative;
  min-height: 50vh;
  margin: 1em;
}

.card-container img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 2%;
  border: 1px solid var(--primary-color);
}
.project-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease;
}
.project-card:hover {
  transform: rotateY(180deg);
}
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 3%;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: var(--third-color);
  border-radius: 3%;
  transform: rotateY(180deg);
  display: grid;
  grid-template: 10vh auto auto/75% 20%;
  grid-template-areas:
    "header icon"
    "content icon"
    "content icon";

  padding: 1em;
}
.card-back h4,
.card-back p,
.project-icon {
  color: var(--primary-color);
  text-shadow: 0 0 0.5px var(--secondary-color);
}
.card-back h4 {
  grid-area: header;
  font-family: var(--secondary-font);
  font-size: 2.2rem;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8%;
  font-weight: 500;
}
.card-back p {
  grid-area: content;
  line-height: 1em;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1em;
}

.project-icon {
  grid-area: icon;
  opacity: 0.5;
  margin: 0.3em 1em;
  font-size: 1.4rem;
}
.project-button {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  letter-spacing: 0.1em;
  display: block;
  margin: 2.5em auto 0;
  width: 80%;
  transition: all 250ms ease-in;
}
.project-button:hover,
.project-button:focus {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

/* media queries */
@media (min-width: 1300px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }
  .card-container {
    height: 60vh;
  }
}
