:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(27, 45, 54);
  --third-color: #748d9a;
  --third-color-opacity: rgba(153, 185, 201, 0.151);
  --primary-font: "Amatic SC", cursive;
  --secondary-font: "Sue Ellen Francisco", cursive;
  --background-color: #315263;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
}

h1 {
  font-family: var(--secondary-font);

  letter-spacing: 0.2em;
  color: var(--primary-color);
  animation: flyIn 3s ease-in;
}
h2 {
  color: var(--primary-color);
  margin-top: 0.8em;
  padding-top: 1.1em;
  text-align: center;
  font-weight: 200;
  font-size: 4em;
  letter-spacing: 0.2em;
  animation: flyIn 3s ease-in;
}
.home-heading {
  font-size: 8em;
  text-align: center;
  margin-top: 0.3em;
}
@keyframes flyIn {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
h2,
.navigation {
  font-family: var(--primary-font);
}
.navigation {
  background: rgba(49, 82, 99, 0.4) !important;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1.8em;
}
.navigation-secondary {
  background: var(--third-color-opacity) !important;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1.8em;
}
.navbar-brand {
  font-size: 1.3em;
}

.home-image {
  background: url(/images/fairy.jpg);
  position: relative;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-gradient {
  background: #315263;
  background: linear-gradient(
    to top,
    #315263 6%,
    #3152634d 40%,
    #31526300 100%
  );
  width: 100%;
  height: 71vh;
  position: absolute;
  z-index: 3;
}
.social-icon i {
  margin: 1em;
  padding: 0.2em;
  font-size: 4em;
  position: relative;
  z-index: 5;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

.social-icon i:hover {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  color: var(--background-color);
  background-color: var(--primary-color);
  transition: all 400ms ease-out;
}
.underline-animation {
  color: var(--primary-color);
  position: relative;
}

.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.sub-heading {
  font-size: 8.2em;
  margin-top: 1em;
  text-align: center;
}

.dropdown-container {
  width: 30em;
  display: block;
  margin: auto;
}
.dropdown-toggle {
  display: block;
  width: 100%;
  font-size: 2em;
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
}
.dropdown-toggle:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.dropdown-menu {
  background-color: #315263;
  border: solid 1px var(--secondary-color);
}

.dropdown-menu li a {
  font-size: 2.3em !important;
  letter-spacing: 0.1em;
  color: var(--third-color);
}
.dropdown-menu li a:hover {
  background-color: #315263;
  color: var(--primary-color);
}
.about-img img {
  border: solid 1px var(--primary-color);
  border-radius: 100%;
  width: 50%;
  display: block;
  margin: 5% auto;
  filter: grayscale(90%);
}
.loading {
  text-align: center;
  margin-top: 17em;
}
.loading span {
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  margin: 1.5em;
  animation: loading 2s linear infinite;
}

.loading span:nth-child(2) {
  animation-delay: 0.4s;
}
.loading span:nth-child(3) {
  animation-delay: 0.8s;
}
@keyframes loading {
  30% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
}
#about-category {
  display: block;
  margin: 2% auto;
  border: solid 1px var(--primary-color);
  border-radius: 2%;
  height: 38em;
  width: 65%;
}

.about-heading {
  font-family: var(--secondary-font);
  letter-spacing: 0.1em;
  font-size: 4.5em;
  text-align: center;
  padding: 0.6em 0 0.3em 0;
  animation: flyIn 3s ease-in;
}

.journey-paragraph {
  margin: 1em;
  font-size: 2em;
  animation: flyIn 3s ease-in;
}
.hobby-heading {
  font-size: 2.1em;
  padding-top: 2em;
  margin: 1em;
  animation: flyIn 3s ease-in;
}
.hobby-list {
  font-size: 2em;
  margin: 1em;
  animation: flyIn 3s ease-in;
}
.hobby-paragraph {
  margin-top: -4%;
}
.stack-container {
  display: flex;
}
.stack-icon {
  color: var(--primary-color);
  font-size: 4.3em;
  margin: 1.7em auto;
  padding: 0.2em;
  animation: flyIn 3s ease-in;
}

.icon-container {
  margin-top: 5%;
  justify-content: center;
  padding: 0 3em 0 3em;
  font-size: 0.7em;
}

.project-screenshots {
  margin-top: 3.5em;
}

.card-container {
  display: flex;
  position: relative;
  height: 62.5vh;
  margin: 1em;
}
.card-container img {
  height: 100%;
  border-radius: 2%;
  border: solid 1px var(--primary-color);
}
.project-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease;
}
.project-card:hover {
  transform: rotateY(180deg);
}
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  border-radius: 3%;
}
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: var(--third-color);
  border-radius: 3%;
  transform: rotateY(180deg);
  text-align: center;
}
.card-back h4 {
  margin: 5%;
  font-size: 3.5em;
  color: var(--primary-color);
}
.card-back p {
  padding: 1%;
  font-size: 1.4em;
  color: var(--primary-color);
}

.project-icon {
  justify-items: center;
  padding: 5%;
  font-size: 1.7em;
  color: var(--primary-color);
}
.project-button {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 4%;
  margin: 7% auto;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  display: block;
  width: 80%;
  transition: all 250ms ease-in;
}
.project-button:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.contact-form {
  display: block;
  margin: 5% auto;
  width: 47%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  border-radius: 2%;
  font-size: 200%;
  letter-spacing: 0.1em;
  padding: 3%;
}
.form-button {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 2%;
  margin: 3.5% auto;
  font-size: 100%;
  letter-spacing: 0.1em;
  display: block;
  width: 90%;
  transition: all 250ms ease-in;
}

.form-button:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
@media (max-width: 1440px) {
  h2 {
    font-size: 3em;
  }
  .home-heading {
    font-size: 6em;
  }
  .journey-paragraph {
    font-size: 1.8em;
  }
  .card-container {
    height: 25em;
  }
}
@media (max-width: 1024px) {
  .home-heading {
    font-size: 5.8em;
  }
  .journey-paragraph {
    font-size: 1.6em;
  }
  .card-container {
    height: 24em;
  }
  .card-back p {
    font-size: 1.3em;
  }
  .card-back h4 {
    font-size: 3em;
  }
  .project-icon {
    font-size: 1.5em;
  }
  .icon-container {
    font-size: 0.7em;
  }
  .contact-form {
    width: 60%;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 2.3em;
  }
  .home-heading {
    font-size: 4.2em;
  }
  #about-category {
    width: 80%;
  }

  .journey-paragraph {
    font-size: 1.7em;
  }
  .stack-container {
    flex-direction: column;
    align-items: center;
  }
  .stack-icon {
    font-size: 3.5em;
    margin: 0 auto;
  }
  .card-container {
    height: 55em;
  }
  .card-back p {
    font-size: 3em;
  }
  .card-back h4 {
    font-size: 5em;
  }
  .project-icon {
    font-size: 4em;
  }
  .project-button {
    font-size: 2em;
  }
  .icon-container {
    font-size: 0.6em;
  }
  .contact-form {
    width: 80%;
  }
}

@media (max-width: 425px) {
  h2 {
    font-size: 1.5em;
  }
  .home-heading {
    font-size: 2.5em;
  }
  .navigation {
    font-size: 1.3em;
  }
  .sub-heading {
    font-size: 3.5em;
    margin-top: 30%;
  }

  .dropdown-toggle {
    width: 80%;
    font-size: 1.5em;
  }
  .dropdown-menu li a {
    font-size: 1.4em !important;
  }
  #about-category {
    width: 80%;
    font-size: 0.7em;
  }
  .journey-paragraph {
    font-size: 1.5em;
  }
  .stack-container {
    flex-direction: column;
    align-items: center;
  }
  .stack-icon {
    font-size: 3.5em;
    margin: 0 auto;
  }
  .card-container {
    height: 28em;
  }
  .card-back p {
    font-size: 1.3em;
  }
  .card-back h4 {
    font-size: 4em;
  }
  .project-screenshots {
    margin-top: 1em;
  }
  .project-icon {
    font-size: 2em;
  }
  .project-button {
    font-size: 1.3em;
  }
  .icon-container {
    font-size: 0.4em;
  }
  .contact-form {
    width: 80%;
    font-size: 1.5em;
    margin-top: 10%;
  }
}
