:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #1b2d36;
  --text-shadow: 0px 0px 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff,
    0 0 40px #ffffff, 0 0 80px #ffffff, 0 0 100px #ffffff, 0 0 120px #ffffff;
  --secondary-text-shadow: 0 0 10px #fff;
  --primary-font: "Amatic SC", cursive;
  --secondary-font: "Aclonica", sans-serif;
  --third-font: "IM Fell DW Pica", serif;
  --fourth-font: "IM Fell DW Pica SC", serif;
  --fifth-font: "Reenie Beanie", cursive;
  --sixth-font: "Sofadi One", cursive;
  --seventh-font: "Sue Ellen Francisco", cursive;
  --eighth-font: "Viaoda Libre", cursive;
  --background-color: #315263;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
}

h1 {
  font-family: var(--seventh-font);
  font-size: 7.8em;
  letter-spacing: 0.2em;
  color: var(--primary-color);
}
h2 {
  color: var(--primary-color);
  margin-top: 0.8em;
  padding: 17px;
  text-align: center;
  font-weight: 200;
  font-size: 3.5em;
  letter-spacing: 0.2em;
}
.home-heading {
  text-align: center;
  margin-top: 0.3em;
}
h2,
.navigation {
  font-family: var(--primary-font);
}
.navigation {
  background: rgba(49, 82, 99, 0.4) !important;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 2em;
}
.navbar-brand {
  font-size: 1.3em;
}
.neon-flicker {
  animation: blink 5s infinite linear alternate;
}

@keyframes blink {
  59%,
  71%,
  79% {
    opacity: 1;
  }
  64%,
  66%,
  75%,
  78% {
    opacity: 0.3;
  }
  67%,
  69%,
  76% {
    opacity: 0.8;
  }
}

.icon-container-home {
  justify-content: center;
}

.social-icon i {
  margin: 1em;
  padding: 0.2em;
  font-size: 3em;
  position: relative;
  z-index: 5;
  color: var(--primary-color);
}

.social-icon i:hover {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  color: var(--primary-color);

  transition: all 300ms ease-out;
}

.home-image {
  background: url(/images/fairy.jpg);
  position: relative;
  height: 80vh;
  justify-content: center;
  background-size: 100%;
  display: flex;
  text-align: center;
}

.background-gradient {
  background: #315263;
  background: linear-gradient(
    to top,
    #315263 6%,
    #3152634d 40%,
    #31526300 100%
  );
  width: 100%;
  height: 82vh;
  position: absolute;
  z-index: 3;
}

.top-left-heading {
  margin-top: 1em;
  text-align: center;
}

.dropdown-container {
  width: 30em;
  display: block;
  margin: auto;
}
.dropdown-toggle {
  color: var(--primary-color);
  font-size: 3em;
}
.dropdown-toggle:hover {
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
}
.dropdown-menu {
  background-color: #315263;
  border: solid 1px var(--secondary-color);
}
.dropdown-menu li a {
  font-size: 2.3em !important;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
}
.dropdown-menu li a:hover {
  background-color: #315263;
  color: var(--primary-color);
}
.about-info-container {
  margin: 10em auto;
}

.carousel {
  height: 100%;
  display: flex;
  justify-content: center;
}

.carousel .carousel-item {
  height: 25em;
  width: 50rem;
  padding: 0 2rem 0 7rem;
}
.heading-carousel {
  font-family: var(--seventh-font);
  letter-spacing: 0.1em;
  font-size: 5em;
  text-align: center;
  padding: 1em 0 0.3em 0;
}
.carousel-control-next,
.carousel-control-prev-icon {
  opacity: 0 !important;
}
.carousel .carousel-item p {
  font-family: var(--seventh-font);
  font-size: 2.2em;
  letter-spacing: 0.1em;
  text-align: center;
}
.carousel-list {
  font-family: var(--seventh-font);
  font-size: 2em;
}

.carousel .carousel-item .stack-icon {
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.icon-container {
  margin-top: 5%;
  justify-content: center;
  padding: 0 3em 0 3em;
  font-size: 0.7em;
}
.icon-container-contact {
  justify-content: center;
}
.social-icon-contact i {
  margin: 1.6em 0.8em;
  font-size: 10em;
  color: var(--primary-color);
}
.social-icon-about {
  font-size: em;
}
.flicker-linkedin {
  animation: flicker-linkedin 3s infinite linear alternate;
}
@keyframes flicker-linkedin {
  59%,
  71%,
  79% {
    opacity: 1;
  }
  64%,
  66%,
  75%,
  78% {
    opacity: 0.3;
  }
  67%,
  69%,
  76% {
    opacity: 0.8;
  }
}
.flicker-github {
  animation: flicker-github 5s infinite linear alternate;
}
@keyframes flicker-github {
  59%,
  71%,
  79% {
    opacity: 1;
  }
  64%,
  66%,
  75%,
  78% {
    opacity: 0.3;
  }
  67%,
  69%,
  76% {
    opacity: 0.8;
  }
}
.flicker-email {
  animation: flicker-email 4s infinite linear alternate;
}
@keyframes flicker-email {
  59%,
  71%,
  79% {
    opacity: 1;
  }
  64%,
  66%,
  75%,
  78% {
    opacity: 0.3;
  }
  67%,
  69%,
  76% {
    opacity: 0.8;
  }
}

.project-screenshots {
  margin-top: 90px;
}

.underline-animation {
  color: var(--primary-color);
  position: relative;
}

.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
