:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #38b4fa;
  --text-shadow: 0px 0px 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff,
    0 0 40px #ffffff, 0 0 80px #ffffff, 0 0 100px #ffffff, 0 0 120px #ffffff;
  --secondary-text-shadow: 0 0 10px #fff;
  --primary-font: "Londrina Shadow", cursive;
  --secondary-font: "Lexend Mega", sans-serif;
  --background-color: #212529;
}

body {
  background-color: var(--background-color);
}

h1 {
  color: var(--primary-color);
  text-shadow: var(--text-shadow);
  font-family: var(--primary-font);
  font-size: 6em;
  letter-spacing: 0.2em;
}
h2 {
  color: var(--primary-color);
  margin-top: 20px;
  padding: 30px;
  text-align: center;
  text-shadow: var(--secondary-text-shadow);
}
.home-heading {
  text-align: center;
  margin-top: 2.5em;
}
h2,
.navigation {
  font-family: var(--secondary-font);
  font-weight: 200;
}
.neon-flicker {
  animation: blink 5s infinite linear alternate;
}

@keyframes blink {
  59%,
  71%,
  79% {
    opacity: 1;
  }
  64%,
  66%,
  75%,
  78% {
    opacity: 0.3;
  }
  67%,
  69%,
  76% {
    opacity: 0.8;
  }
}

.icon-container-home {
  justify-content: center;
}

.social-icon i {
  margin: 1em;
  padding: 0.2em;
  font-size: 3em;
  position: relative;
  z-index: 5;
  color: var(--primary-color);
}

.social-icon i:hover {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  color: var(--primary-color);
  text-shadow: var(--secondary-text-shadow);
  transition: all 300ms ease-out;
}

.home-image {
  background: url(/images/motherboard-dark.jpg);
  position: relative;
  height: 50vh;
  justify-content: center;
  background-size: 100%;
  display: flex;
  text-align: center;
}
.background-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    to bottom,
    rgb(33, 37, 41) 0%,
    rgba(33, 37, 41, 0.753) 25%,
    rgba(0, 212, 255, 0) 100%
  );
  width: 100%;
  height: 50vh;
  position: absolute;
  z-index: 3;
}

@media (max-width: 1024px) {
  h1 {
    margin-top: 3em;
    font-size: 4.5em;
  }
  .social-icon i {
    font-size: 2em;
  }
  .home-image {
    height: 55vh;
  }
}

@media (max-width: 768px) {
  h1 {
    margin-top: 4em;
    font-size: 3.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  .home-image {
    height: 60vh;
  }
  .background-gradient {
    height: 55vh;
  }
}

@media (max-width: 425px) {
  h1 {
    margin-top: 7em;
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
  .social-icon i {
    font-size: 1em;
  }
  .home-image {
    height: 60vh;
  }
}

.top-left-heading {
  position: relative;
  top: 70px;
  left: 50px;
  text-align: left;
}

.dropdown-container {
  font-family: var(--secondary-font);
  text-shadow: var(--secondary-text-shadow);

  width: 20em;
  margin: 20% 0;
}

.horizontal-line {
  border-top: 3px solid white;
  width: 100%;
  margin-top: 75%;
}

.vertical-line {
  border-left: 3px solid white;
  height: 11em;
  position: relative;
  left: 60%;
  top: 50%;
}

.carousel {
  height: 100%;
  margin-top: -1%;
  font-family: var(--secondary-font);
}

.carousel .carousel-item {
  height: 25em;
  width: 43rem;
  padding: 0 2rem 0 7rem;
}
.carousel .carousel-item h3 {
  font-size: 40px;
  text-shadow: var(--secondary-text-shadow);
}

.carousel .carousel-item p {
  font-size: 18px;
}
.carousel .carousel-item .stack-icon {
  font-size: 2em;
  padding: 0.5em;
  margin: 2.1em 0 0.5em 0.8em;
}

.icon-container {
  margin-top: 5%;
  justify-content: center;
  padding: 0 3em 0 3em;
  font-size: 0.7em;
}
.icon-container-contact {
  justify-content: center;
}
.social-icon-contact i {
  margin: 1.6em 0.8em;
  font-size: 10em;
  color: var(--primary-color);
}
.flicker-linkedin {
  animation: flicker-linkedin 3s infinite linear alternate;
}
@keyframes flicker-linkedin {
  59%,
  71%,
  79% {
    opacity: 1;
  }
  64%,
  66%,
  75%,
  78% {
    opacity: 0.3;
  }
  67%,
  69%,
  76% {
    opacity: 0.8;
  }
}
.flicker-github {
  animation: flicker-github 5s infinite linear alternate;
}
@keyframes flicker-github {
  59%,
  71%,
  79% {
    opacity: 1;
  }
  64%,
  66%,
  75%,
  78% {
    opacity: 0.3;
  }
  67%,
  69%,
  76% {
    opacity: 0.8;
  }
}
.flicker-email {
  animation: flicker-email 4s infinite linear alternate;
}
@keyframes flicker-email {
  59%,
  71%,
  79% {
    opacity: 1;
  }
  64%,
  66%,
  75%,
  78% {
    opacity: 0.3;
  }
  67%,
  69%,
  76% {
    opacity: 0.8;
  }
}
